html{
    height: 100%;
}
body{

    background-color: #2f1a1a;
    background-image: url(images/background2.jpg)  ;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.container{
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 140px;
    width: 1024px;
    /* background-color: blue; */
    text-align: center;
    
}
nav{
    
    width: 1024px;
    background-color: rgb(0 0 0 / 30%);
    text-align: center;
    padding:10px 0px;
    
}
nav a{
    
   font-size: 18px; 
   text-decoration: none;
   padding:0px 10px;
    
}
nav ul a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    
    
    
}
main{
    
    width: 1024px;
    /* background-color: orange; */
    text-align: center;
    /* padding-top: 80px; */
    
    
    
}
footer{ 
    width: 1024px;
    background-color: rgba(28, 24, 24, 0.542);
    text-align: center;
    
    
}
h1{
    font-size: 85px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    font-size: 18px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 250px;
}
a{
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;

}
main a{
    
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;

}

footer p{
    padding: 10px 0px;
    font-size: 12px;
    /* color:whitesmoke; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.maps{
    padding-top: 20px;
    
}
